<div id="<%= dom_id company %>">
  <p>
    <strong>Date Applied:</strong>
    <%= company.date_applied %>
  </p>

  <p>
    <strong>Company Name:</strong>
    <%= company.company_name %>
  </p>

  <p>
    <strong>Application Status:</strong>
    <%= company.application_status %>
  </p>

  <p>
    <strong>Job Title:</strong>
    <%= company.job_title %>
  </p>

  <p>
    <strong>Company ATS Link:</strong>
    <%= company.company_ats_link %>
  </p>

  <p>
    <strong>Referral:</strong>
    <%= company.referral %>
  </p>
  <p>
    <strong>Company Note Count:</strong>
    <%= company.notes.count %>
  </p>
  <p>
    <strong>Company Notes:</strong>
    <%= link_to "Show Company Notes", company_notes_path(company) %> | 
    <%= link_to "Create Note", new_company_note_path(company.id) %>
  </p>

</div>
